/* ********* font css is start************/
@font-face {
  font-family: "Inter 18pt";
  src: url("../font/transfonter.org-20260112-082941/Inter18pt-Bold.woff2")
      format("woff2"),
    url("../font/transfonter.org-20260112-082941/Inter18pt-Bold.woff")
      format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../font/transfonter.org-20260112-082941/Inter-Regular.woff2")
      format("woff2"),
    url("../font/transfonter.org-20260112-082941/Inter-Regular.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter 18pt";
  src: url("../font/transfonter.org-20260112-082941/Inter18pt-Black.woff2")
      format("woff2"),
    url("../font/transfonter.org-20260112-082941/Inter18pt-Black.woff")
      format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter 18pt";
  src: url("../font/transfonter.org-20260112-082941/Inter18pt-BlackItalic.woff2")
      format("woff2"),
    url("../font/transfonter.org-20260112-082941/Inter18pt-BlackItalic.woff")
      format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter 18pt";
  src: url("../font/transfonter.org-20260112-082941/Inter18pt-BoldItalic.woff2")
      format("woff2"),
    url("../font/transfonter.org-20260112-082941/Inter18pt-BoldItalic.woff")
      format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../font/transfonter.org-20260112-082941/Inter-Italic.woff2")
      format("woff2"),
    url("../font/transfonter.org-20260112-082941/Inter-Italic.woff")
      format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter 18pt";
  src: url("../font/transfonter.org-20260112-082941/Inter18pt-ExtraBoldItalic.woff2")
      format("woff2"),
    url("../font/transfonter.org-20260112-082941/Inter18pt-ExtraBoldItalic.woff")
      format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter 18pt";
  src: url("../font/transfonter.org-20260112-082941/Inter18pt-MediumItalic.woff2")
      format("woff2"),
    url("../font/transfonter.org-20260112-082941/Inter18pt-MediumItalic.woff")
      format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter 18pt";
  src: url("../font/transfonter.org-20260112-082941/Inter18pt-ExtraLightItalic.woff2")
      format("woff2"),
    url("../font/transfonter.org-20260112-082941/Inter18pt-ExtraLightItalic.woff")
      format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter 18pt";
  src: url("../font/transfonter.org-20260112-082941/Inter18pt-Light.woff2")
      format("woff2"),
    url("../font/transfonter.org-20260112-082941/Inter18pt-Light.woff")
      format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter 18pt";
  src: url("../font/transfonter.org-20260112-082941/Inter18pt-Italic.woff2")
      format("woff2"),
    url("../font/transfonter.org-20260112-082941/Inter18pt-Italic.woff")
      format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter 18pt";
  src: url("../font/transfonter.org-20260112-082941/Inter18pt-ExtraLight.woff2")
      format("woff2"),
    url("../font/transfonter.org-20260112-082941/Inter18pt-ExtraLight.woff")
      format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter 18pt";
  src: url("../font/transfonter.org-20260112-082941/Inter18pt-Medium.woff2")
      format("woff2"),
    url("../font/transfonter.org-20260112-082941/Inter18pt-Medium.woff")
      format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter 18pt";
  src: url("../font/transfonter.org-20260112-082941/Inter18pt-ExtraBold.woff2")
      format("woff2"),
    url("../font/transfonter.org-20260112-082941/Inter18pt-ExtraBold.woff")
      format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter 18pt";
  src: url("../font/transfonter.org-20260112-082941/Inter18pt-LightItalic.woff2")
      format("woff2"),
    url("../font/transfonter.org-20260112-082941/Inter18pt-LightItalic.woff")
      format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter 18pt";
  src: url("../font/transfonter.org-20260112-082941/Inter18pt-Regular.woff2")
      format("woff2"),
    url("../font/transfonter.org-20260112-082941/Inter18pt-Regular.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter 18pt";
  src: url("../font/transfonter.org-20260112-082941/Inter18pt-SemiBoldItalic.woff2")
      format("woff2"),
    url("../font/transfonter.org-20260112-082941/Inter18pt-SemiBoldItalic.woff")
      format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter 18pt";
  src: url("../font/transfonter.org-20260112-082941/Inter18pt-Thin.woff2")
      format("woff2"),
    url("../font/transfonter.org-20260112-082941/Inter18pt-Thin.woff")
      format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter 24pt";
  src: url("../font/transfonter.org-20260112-082941/Inter24pt-BoldItalic.woff2")
      format("woff2"),
    url("../font/transfonter.org-20260112-082941/Inter24pt-BoldItalic.woff")
      format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter 18pt";
  src: url("../font/transfonter.org-20260112-082941/Inter18pt-ThinItalic.woff2")
      format("woff2"),
    url("../font/transfonter.org-20260112-082941/Inter18pt-ThinItalic.woff")
      format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter 24pt";
  src: url("../font/transfonter.org-20260112-082941/Inter24pt-Black.woff2")
      format("woff2"),
    url("../font/transfonter.org-20260112-082941/Inter24pt-Black.woff")
      format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter 18pt";
  src: url("../font/transfonter.org-20260112-082941/Inter18pt-SemiBold.woff2")
      format("woff2"),
    url("../font/transfonter.org-20260112-082941/Inter18pt-SemiBold.woff")
      format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter 24pt";
  src: url("../font/transfonter.org-20260112-082941/Inter24pt-Bold.woff2")
      format("woff2"),
    url("../font/transfonter.org-20260112-082941/Inter24pt-Bold.woff")
      format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter 24pt";
  src: url("../font/transfonter.org-20260112-082941/Inter24pt-BlackItalic.woff2")
      format("woff2"),
    url("../font/transfonter.org-20260112-082941/Inter24pt-BlackItalic.woff")
      format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter 24pt";
  src: url("../font/transfonter.org-20260112-082941/Inter24pt-ExtraBoldItalic.woff2")
      format("woff2"),
    url("../font/transfonter.org-20260112-082941/Inter24pt-ExtraBoldItalic.woff")
      format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter 24pt";
  src: url("../font/transfonter.org-20260112-082941/Inter24pt-ExtraLightItalic.woff2")
      format("woff2"),
    url("../font/transfonter.org-20260112-082941/Inter24pt-ExtraLightItalic.woff")
      format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter 24pt";
  src: url("../font/transfonter.org-20260112-082941/Inter24pt-ExtraBold.woff2")
      format("woff2"),
    url("../font/transfonter.org-20260112-082941/Inter24pt-ExtraBold.woff")
      format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter 24pt";
  src: url("../font/transfonter.org-20260112-082941/Inter24pt-Light.woff2")
      format("woff2"),
    url("../font/transfonter.org-20260112-082941/Inter24pt-Light.woff")
      format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter 24pt";
  src: url("../font/transfonter.org-20260112-082941/Inter24pt-ExtraLight.woff2")
      format("woff2"),
    url("../font/transfonter.org-20260112-082941/Inter24pt-ExtraLight.woff")
      format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter 24pt";
  src: url("../font/transfonter.org-20260112-082941/Inter24pt-Italic.woff2")
      format("woff2"),
    url("../font/transfonter.org-20260112-082941/Inter24pt-Italic.woff")
      format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

/* ********* font css is end************/

/********************** css **********************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
  color: #ffffff;
  text-decoration: none;
}

body {
  font-family: "Inter";
  font-weight: 600;
  background-color: #1b2316;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: 1660px;
}

/********************** Reset CSS **********************/

/********************** Typography  Css Is start **********************/

img {
  width: 100%;
  vertical-align: middle;
}

a {
  font-family: Inter;
  font-weight: 500;
  font-size: 24px;
}

h1 {
  font-size: 118px;
  vertical-align: middle;
}

h2 {
  font-size: 55px;
  vertical-align: middle;
  font-weight: 600;
}

h3 {
  font-size: 38px;
  vertical-align: middle;
  font-weight: 400;
}

h4 {
  font-weight: 500;
  font-size: 28px;
  vertical-align: middle;
}

h5 {
  font-weight: 500;
  font-size: 23px;
  vertical-align: middle;
}

p {
  font-size: 20px;
  font-weight: 400;
}

.flex_row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.reverse_flex {
  display: flex;
  flex-wrap: wrap;
}

img.img_one {
  width: unset;
}

img.img_two {
  width: unset;
}


/********************** Typography Css Is End **********************/

/********************** Header css Is Start **********************/

header {
  border-image-source: linear-gradient(
    90.14deg,
    rgba(255, 255, 255, 0.14) 14.17%,
    rgba(255, 255, 255, 0) 51.03%,
    rgba(255, 255, 255, 0.15) 98.87%
  );
  padding: 48px 0;
  position: sticky;
  z-index: 11;
  top: 0;
}

header img {
  width: unset;
}

header li {
  display: inline-block;
  margin-right: 60px;
}

header li:nth-child(4n) {
  margin-right: unset;
}

header .h-logo {
  max-width: 161px;
}

header .flex_row {
  align-items: center;
}
header nav {
  width: 77.499%;
  text-align: center;
}

header .icons {
  width: 203px;
  display: flex;
  flex-wrap: wrap;
}

header .icons a {
  margin-right: 58px;
}

header i.fa-sharp.fa-solid.fa-angle-down {
  font-size: 10px;
  vertical-align: middle;
  margin-left: 3px;
}

header .icons a:nth-child(3) {
  margin-right: unset;
}

header .icons .search-bar {
  display: none;
  width: 200px;
}

header a {
  text-decoration: none;
  transition: all 0.3s ease;
  border-radius: 8px;
  position: relative;
  color: rgba(255, 255, 255, 0.75);
}

header  > li > a {
position: relative;
}

header li:hover .drop_down {
  border: 2px solid;
  position: absolute;
  width: 30%;
  height: 100%;
  content: "";
  right: 0;
  left: 0;
  margin: auto;
  transition: 0.3s ease-in-out;
}
 
header a::after {
  content: "";
  position: absolute;
  width: 0;
  background-color: rgba(166, 166, 166, 0.4);
  left: 50%;
  transform: translateX(-50%);
  bottom: -0.25em;
  height: 2px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

header a:hover::after {
  width: 100%;
}
header.with-effect {
  background-color: #1b2316;
}
/********************** Header css Is End **********************/

/********************** Banner css Is Start **********************/

.div_group {
  background-image: url(../image/Group\ 73.png);
  background-size: 100% 100%;
  background-position: center -58px;
  background-repeat: no-repeat;
  padding: 200px 0 0;
  position: relative;
  transform: translate(0px, -144px);
  max-width: 2000px;
  margin: 0 auto;
}

.div_group h5 {
  margin-bottom: 16px;
  color: rgba(255, 255, 255, 0.75);
  max-width: 54rem;
}

.div_group .btn a {
  opacity: 0.75;
  border-radius: 12px;
  padding: 16.407px 66px;
  border: 2px solid;
}

.div_group .btn a:hover {
  background-color: #000;
  transition: 0.5s ease-in-out;
}

.div_group .left_side_content {
  width: 53%;
  margin-top: 70px;
}

.div_group .btn {
  display: inline-flex;
}

.div_group .fa-group {
  margin-left: 35px;
  display: ruby;
}

.div_group .fa-group img {
  margin-right: 16px;
  width: unset;
  cursor: pointer;
}

.div_group section.banner_secion .flex_row {
  justify-content: unset;
}

.div_group .right_side_img {
  width: 46.96%;
  position: relative;
  right: -135px;
}

.div_group .right_side_img .bg_plant {
  background-image: url(../image/Rectangle\ 2.png);
  background-repeat: no-repeat;
  background-position: center 60px;
}

.div_group .right_side_img .btn {
  border: 2px solid;
  opacity: 0.75;
  border-radius: 12px;
  margin-top: 20px;
}

.div_group .right_side_img img {
  width: 56%;
}

.div_group .owl-carousel .owl-item img {
  width: unset;
}

.div_group .btn a {
  position: relative;
  color: #000;
  overflow: hidden;
  background:#fff;
  z-index: 1;
  font-family: sans-serif;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease;
  opacity: 0.75;
  border-radius: 12px;
  padding: 16.54px 58.02px;
  border: 2px solid;
}

.div_group  .btn a:hover {
  color: white !important;
}

.div_group  .btn a::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  background: #000;
  color: #000;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
  transition: width 0.3s ease;
}

.div_group  .btn a:hover::before {
  width: 100%;
}


.div_group .right_side_img h3 {
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.75);
}

.div_group .right_side_img .center {
  text-align: -webkit-center;
  position: relative;
  top: -20px;
}

.div_group .right_side_img .fa-solid {
  font-size: 22px;
  position: relative;
  cursor: pointer;
  right: -240px;
}

.div_group .left_side_content .group_content {
background-image: url(../image/Rectangle\ 5\ \(1\).png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 55.1px 42.1px 55.1px;
  max-width: 409px;
  margin-top: 246px;
}

.div_group .left_side_content .group_content p {
  font-size: 17px;
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.75);
}

.div_group .left_side_content .group_content img {
  width: unset;
}

.div_group section.banner_secion h1 {
  color: rgba(255, 255, 255, 0.75);
}

/********************** Banner css Is End **********************/

.div_group .Trendy_plants h2 {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 80px;
  position: relative;
  padding: 20px;
  position: relative;
}

.div_group h2::after {
 background-image: url(../image/Vector\ 1.png);
 position: absolute;
 height: 100%;
 width: 5%;
 content:"";
 background-repeat: no-repeat;
 top: 0rem;
 right: 34rem;
}

.div_group h2::before {
 background-image: url(../image/Vector\ 2.png);
 position: absolute;
 height: 5rem;
 width: 5%;
 content:"";
 background-repeat: no-repeat;
 left: 35rem;
  top: 2rem;
}

.div_group .Trendy_plants h2 img{
  width: unset;
}

.div_group .Trendy_plants h2 .img_one{
  position: relative;
  right: -40px
}

.div_group .Trendy_plants h2 .img_two{
  position: relative;
  left: -50px;
  top: -10px;
}

.div_group .group_block img {
  width: unset;
  margin-left: 30px;
  vertical-align: bottom;
  cursor: pointer;
}

.div_group .group_block {
  margin-top: 20px;
}

.div_group .number_item {
  margin-top: 20px;
}

.div_group .group_content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-image: url(../image/Rectangle\ 7.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.div_group .left_side-img {
  width: 50%;
}

.div_group .left_side-img img {
  width: unset;
  position: relative;
  top: -120px;
  right: -30px;
}

.div_group .right_side_content {
  width: 50%;
}

.div_group .right_side_content p {
  padding-right: 70px;
  margin-top: 20px;
}

.div_group .group_content.reverse_flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-items: center;
  background-image: url(../image/Rectangle\ 8.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  top: -100px;
  padding: 0px 110px 0px;
}

.div_group .group_content.reverse_flex .left_side-img img {
  top: -50px;
}

.div_group .group_content.reverse_flex p {
  padding: unset;
}


/********************** Section two css Is Start **********************/

.Section_two h2 img{
 width: unset;
}

.Section_two h2{
  text-align: center;
  margin-bottom: 80px;
  position: relative;
}

.Section_two h2 img.img_one {
  position: relative;
  left: 30px;
}

.Section_two h2 img.img_two {
  position: relative;
  left: -40px;
  top: -10px;
}
.Section_two .block_one {
  display: inline-flex;
  align-items: center;
}

.Section_two .block_one h3 {
 margin-right: 100px;
}

.Section_two img {
  width: unset;
}

.Section_two .ig_bottom {
  width: unset;
  position: relative;
  left: 30px;
  top: -30px;
}

.Section_two .bottom_gap {
  margin-bottom: 25px;
}

.Section_two .box_group {
  margin-right: 30px;
  background-image: url(../image/Rectangle\ 6.png);
  background-position: center 90px;
  background-size: contain;
  background-repeat: no-repeat;
  width: calc(33.3% - 20px);
  padding-bottom: 50px;
}

.Section_two .box_group:nth-child(3n) {
  margin-right: unset;
}

.Section_two .text_content {
  padding: 0 90px;
}

.Section_two .text_content p {
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.75);
}

section.Section_two {
  padding: 0 0 119px;
}

.Section_two h2::after {
 background-image: url(../image/Vector\ 1.png);
 position: absolute;
 height: 100%;
 width: 5%;
 content:"";
 background-repeat: no-repeat;
 top: -1rem;
 right: 36rem;
}

.Section_two h2::before {
 background-image: url(../image/Vector\ 2.png);
 position: absolute;
 height: 5rem;
 width: 5%;
 content:"";
 background-repeat: no-repeat;
  left: 36rem;
  top: 1rem;
}

/********************** Section two css Is End **********************/

/********************** Section three css Is start **********************/

.Section_three{
  padding: 119px 0 138px;
}

.Section_three h2 .img_two {
  position: relative;
  left: -45px;
  top: -15px;
}

.Section_three h2 .img_one {
  position: relative;
  right: -40px;
  top: 10px;
}

.Section_three h2  {
  text-align: center;
  margin-bottom: 182px;
  position: relative;
}

.Section_three .block_one {
  width: calc(33.3% - 22px);
  margin-right: 33px;
}

.Section_three .block_one:nth-child(3n) {
 margin-right: unset;
}

.Section_three h2::after {
 background-image: url(../image/Vector\ 1.png);
 position: absolute;
 height: 100%;
 width: 5%;
 content:"";
 background-repeat: no-repeat;
 top: -1rem;
 right: 34rem;
}

.Section_three h2::before {
 background-image: url(../image/Vector\ 2.png);
 position: absolute;
 height: 5rem;
 width: 5%;
 content:"";
 background-repeat: no-repeat;
 left: 34rem;
  top: 1rem;
}
/********************** Section three css Is End **********************/

/********************** Section four css Is Start **********************/

section.Section_four {
  padding: 100px 0 200px;
}

.Section_four h2 {
    text-align: center;
    margin-bottom: 122px;
    position: relative;
}

.Section_four h2::after {
 background-image: url(../image/Vector\ 1.png);
 position: absolute;
 height: 100%;
 width: 5%;
 content:"";
 background-repeat: no-repeat;
 top: -1rem;
 right: 39rem;
}

.Section_four h2::before {
 background-image: url(../image/Vector\ 2.png);
 position: absolute;
 height: 5rem;
 width: 5%;
 content:"";
 background-repeat: no-repeat;
 left: 39rem;
 top: 1rem;
}
 
.Section_four h2 img.img_one {
  position: relative;
  left: 35px;
  top: 19px;
}
.Section_four h2 img.img_two {
  position: relative;
  left: -40px;
  top: -15px;
}

.Section_four .our_head {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.Section_four .main_fool {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
 
.Section_four .main_fool {
  background-image: url(../image/Rectangle\ 9.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
 
 
.Section_four .image {
  width: 54%;
}

.Section_four .image img{
  position: relative;
  left: -70px;
  margin-bottom: 120px;
}
 
.Section_four .main_text {
  width: calc(50% - 65px);
  padding-right: 80px;
}

.Section_four h3{
  margin-bottom: 40px;
  color: rgba(255, 255, 255, 0.75);
}

.Section_four p{
 margin-bottom: 40px;
 font-weight: 600;
 font-size: 28px;
 color: rgba(255, 255, 255, 0.75);
}

.Section_four .btn a:hover {
  background-color: #000;
  transition: 0.5s ease-in-out;
}

.Section_four .btn {
  display: inline-flex;
}

.Section_four .btn a {
  position: relative;
  color: #000;
  overflow: hidden;
  background:#fff;
  z-index: 1;
  font-family: sans-serif;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease;
  opacity: 0.75;
  border-radius: 12px;
  padding: 16.407px 66px;
  border: 2px solid;
}

.Section_four .btn a:hover {
  color: white !important;
}

.Section_four .btn a::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  background: #000;
  color: #000;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
  transition: width 0.3s ease;
}

.Section_four .btn a:hover::before {
  width: 100%;
}

.Section_four .block p {
  margin-bottom: unset;
  margin-left: 200px;
}

.Section_four i.fa-sharp-duotone.fa-solid.fa-angle-left {
  margin-right: 43px;
  vertical-align: middle;
  cursor: pointer;
}

.Section_four i.fa-sharp.fa-solid.fa-angle-right {
    margin-left: 43px;
    vertical-align: middle;
    cursor: pointer;
}

.Section_four .block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 /********************** Section four css Is End **********************/

 /********************** footer css Is End **********************/

footer{
  background: rgba(34, 44, 29, 1);
  padding: 90px 0;
}

footer .inline {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

footer .inline h2{
  color: rgba(255, 255, 255, 0.75);
  font-size: 58px;
}

footer .inline img{
  width:unset;
  margin-right: 10px;
}

footer .group_one .why_lorem{
  margin-bottom: 120px;
  font-weight: 500;
  font-size: 28px;
}

footer .group_one ul li {
  margin-bottom: 30px;
}

footer .group_one .Quick_line {
  margin-bottom: 40px;
}

footer .group_one ul li:nth-child(4) {
  margin-bottom:unset;
}

footer .group_one .inline_block {
  display: inline-flex;
}

footer .group_one .inline_block .right_side_space{
 margin-right: 60px;
}

footer .group_one .inline_block .right_side_space:nth-child(3n){
 margin-right:unset;
}

footer .group_one  .update{
 margin-bottom:50px;
}

footer .group_one {
  margin-right: 129px;
}

footer .group_one:nth-child(3n) {
  margin-right: unset;
  margin-left: 60px;
  width: 562px;
  background-color: unset;
}

footer .group_one.item1 {
  width: 555px;
}

footer .group_one.item2 {
  width: 185px;
}

footer input#emails {
  padding: 24px 160px 22px 29px;
  border-radius: 8px;
  border: 2px solid;
  background: none;
  width: 100%;
  font-size: 18px;
}

footer .why_absolute {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  align-self: anchor-center;
}

footer .int {
  position: relative;
  margin-bottom: 205px;
}

footer .why_absolute  a {
  position: relative;
  color: #000;
  overflow: hidden;
  background:#fff;
  z-index: 1;
  padding: 22px 20px;
  font-family: sans-serif;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease;
  border-radius: 8px;
}

footer .why_absolute a:hover {
  color: white !important;
}

footer .why_absolute a::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  background: #000;
  color: #000;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
  transition: width 0.3s ease;
}

footer .why_absolute a:hover::before {
  width: 100%;
}

 /********************** footer css Is End **********************/

 /********************** Responsive css Is Start **********************/

 @media screen and (max-width: 1900px) {
 .div_group .right_side_img {
  right:unset;
}

.Section_two .block_one h3 {
  margin-right: 10px;
}

 }

 @media screen and (max-width: 1660px) {
 header nav {
  width: 60.499%;
  text-align: center;
}

header .flex_row {
  justify-content: space-between;
}

.Section_four .block p {
  margin-left: unset;
 }

.div_group .left_side-img img {
    width: 83%;
}

.Section_two .ig_bottom {
  position:unset;
}

.Section_two .text_content p {
    margin-bottom: 10px;
}

.Section_two .ig_bottom {
  width: 70% !important;
  position: unset;
}

.Section_two .box_group {
  padding-bottom: 136px;
  text-align: center;
}

h2::before{
display: none;
}

h2::after{
display: none;
}

}


 @media screen and (max-width: 1489px)  {
 .Section_two .ig_bottom {
  width: 100% !important;
  position:unset;
}

.Section_two .ig_bottom {
  width: 70% !important;
  position: unset;
}

section.Section_two {
  padding: 0px 0 0px;
}

	.Section_two .block_one h3 {
  margin-right: 50px;
}

.Section_two .text_content h3 {
  font-size: 25px;
}

.Section_four p {
  font-size: 18px;
}

.Section_four .owl-item.active {
    margin-right: 50px !important;
}

.Section_four .main_fool {
  margin-bottom: 10px;
}

.Section_four .owl-stage {
  transform:unset !important;
}

section.Section_four {
  padding: 100px 0 100px;
}

footer .group_one.item1 {
  width: calc(33% - -18px);
  margin-right: 50px;
}

footer .group_one.item2 {
  width: calc(13%);
  margin-right: 96px;
}

footer .group_one:nth-child(3n) {
  margin-right: unset;
  width: 33%;
}


}

 @media screen and (max-width: 1289px) {

.Section_two .block_one h3 {
  margin-right:unset;
 }

.Section_two .text_content {
    padding: 0 90px;
}

 } 

 @media screen and (max-width: 1189px) {

.div_group .left_side-img img {
  position:unset;
}

.div_group .left_side_content {
  width: 100%;
}

.div_group .right_side_img .center {
    top:unset;
}

.div_group section.banner_secion .flex_row {
  flex-direction: column;
}

.div_group section.banner_secion .flex_row.icons {
  display: flex !important;
  flex-direction: unset !important;
}

.div_group .left_side_content .group_content p {
  max-width: 280px;
}

.div_group {
  background-position: center 290px;
   padding: 80px 0 0;
}

.div_group .left_side_content .group_content {
  background-size:contain;
  max-width: unset;
  margin-top: 50px;
  flex-direction: column;
  float: left;
}

.div_group .right_side_img .fa-solid {
   display: none;
}

.Section_two .text_content p {
  font-size: 14px;
}


.Section_two .text_content {
  padding: 0 10px;
}
 .div_group .right_side_content h3{
  font-size: 30px;
 }

 .Section_three {
  padding: 50px 0 138px;
}

section.Section_two {
  padding: 0 0 30px;
}

.Section_three h2 {
  text-align: center;
  margin-bottom: 70px;
}

section.Section_four {
  padding: 40px 0 50px;
}

.Section_four .main_text {
  width: calc(50% - 65px);
  padding-right: unset;
}

 .div_group .group_content.reverse_flex {
  top:unset;
}

footer .group_one .update {
  margin-bottom: 20px;
  margin-top: 30px;
}

footer .group_one .why_lorem {
  margin-bottom: 20px;
}

footer .int {
  margin-bottom: 50px;
  display: inline-flex;
}

footer {
  padding: 40px 0;
}

footer .group_one.item1 {
  width: 31%;
  margin-right: 50px;
}


 }

@media screen and (max-width: 1024px) {

.Section_four h2 {
  text-align: center;
  margin-bottom: 30px;
  position: relative;
}

.div_group {
  background-size: 100% 100%;
  background-position: center 290px;
  background-repeat: no-repeat;
}

.Section_three {
  padding: 20px 0 50px;
}

.div_group section.banner_secion h1 {
  font-size: 80px;
  margin-bottom: 10px;
}

.div_group .right_side_img .fa-solid {
  right: -200px;
}

.div_group .right_side_img .bg_plant {
  background-size: cover;
}

.div_group .owl-carousel .owl-item img {
    width: 100%;
}

.Section_four h3 {
  font-size: 26px;
}

.div_group .group_content.reverse_flex {
  top: -10px !important;
 }

}

@media screen and (max-width: 994px) {

header button.start {
  display: block;
  right: 10px;
  font-size: 50px;
  background-color: rgba(31, 58, 81, 0.9);
  width: 60px;
  border: none;
}

footer .inline {
  margin-bottom: 10px;
}

footer .inline img {
  width: 10%;
}
.Section_four h3 {
  font-size: 26px;
}

.div_group .group_content.reverse_flex {
  top: -10px !important;
 }

footer .group_one .why_lorem {
  font-size:9px !important;
}

footer .why_absolute a {
  padding: 24px 20px;
}

footer .group_one .inline_block .right_side_space {
  margin-right: 10px;
  font-size: 12px;
}

section.Section_four {
  padding: 40px 0 24px;
}

footer .group_one:nth-child(3n) {
  margin: unset;
  width: 100%;
}

header nav {
  background-color: #1b2316;
  position: absolute;
  right: 0;
  text-align: left;
  top: 100%;
  width: 100%;
  z-index: 3;
  display: none;
}
header li {
  display:block;
  border-top: 2px solid;
  border-bottom: 2px solid;
  padding: 20px;
  margin-right: unset;
}


header .flex_row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

 footer a {
    font-size: 18px;
}

.div_group .left_side-img {
    width: 50%;
}
.div_group .group_content {
  background-size: cover;
  flex-direction: column;
	padding: 30px;
	margin-bottom: 20px;
}

.div_group .group_content.reverse_flex {
  background-size: cover;
  flex-direction: column;
	padding: 30px;
	margin-bottom: 20px;
}

.div_group .right_side_content {
    width: 100%;
}

.div_group .group_content.reverse_flex {
 margin-top: 99px;
 padding: 20px;
}

footer .group_one.item1 {
  width: 100%;
}

footer .group_one.item2 {
  width: 100%;
  margin: 30px 0;
}

.Section_four h3 {
  margin-bottom: 30px;
  font-size: 15px;
}

.Section_four p {
  font-size: 14px;
}

.Section_four i.fa-sharp-duotone.fa-solid.fa-angle-left {
  margin-right: 10px;
}

.Section_four i.fa-sharp.fa-solid.fa-angle-right {
  margin-left: 10px;
}

.Section_four .owl-item.cloned {
  margin-right: 50px;
}

.Section_four .btn a {
  padding: 10.407px 30px;
}

.Section_four .image img {
  position:unset;
}

.Section_two .text_content h3 {
  font-size: 14px;
}

}

@media screen and (max-width: 767px) {

h1 {
  font-size: 24px !important;
}

h2 {
  font-size: 18px !important;
}

h3{
font-size: 13px !important ;
}

h4 {
  font-size: 12px !important;
}

h5 {
  font-size: 10px !important;
}

a {
  font-size: 10px;
}

p {
  font-size: 10px !important;
}

.div_group .btn a {
  padding: 7.407px 22px;
}

.div_group .group_block img {
  width: 6%;
}

footer .group_one ul li {
  margin-bottom: 10px;
}

footer .group_one .Quick_line {
  margin-bottom: 20px;
}

    footer .why_absolute {
        left: 165px;
    }
footer input#emails {
  padding: 14px 146px 14px 14px;
  width: 100%;
  font-size: 10px;
}

footer .why_absolute a {
  padding: 11px 20px;
}

footer .inline {
  margin-bottom: 20px;
  display: block;
}

.Section_two h2 {
  margin-bottom: 20px;
}

footer .inline img {
  width: 10%;
  margin-right: unset;
}

.owl-stage {
  transform: unset !important;
}

section.section_one {
  transform: translate3d(0px, 65px, -34px);
}

.div_group .Trendy_plants h2 {
  margin-top: -50px;
}

.bg_plant {
  height: unset !important;
}

.div_group .left_side-img {
  width: 20%;
}

.Section_four p {
  margin-bottom: 20px;
}

.Section_two .box_group {
  background-position: center 60px;
  text-align: center;
}

.Section_three {
  padding: 20px 0 20px;
}

.Section_four h3 {
  margin-bottom: 10px;
}

.Section_four .btn a {
  padding: 7.407px 22px;
  font-size: 12px;
}

.Section_four .image img {
  margin-bottom: 50px;
}

header {
  padding: 20px 0;
}

.div_group .btn {
  display: inline-block;
}

.div_group section.banner_secion .flex_row.icons {
  align-items: center;
}

.div_group .fa-group img {
  width: 15%;
}

.Section_two img {
  width: 15%;
}

.Section_three h2 {
  text-align: center;
  margin-bottom: 30px;
}

.div_group .right_side_img .btn {
  border:unset;
}

}

@media screen and (max-width: 589px){

.Section_four p {
  font-size: 7px !important;
}

.Section_four h3 {
  font-size: 10px !important;
}

.Section_two .flex_row {
  justify-content: flex-start;
}

.Section_two .box_group {
  padding-bottom: 50px;
  width: 40%;
}

.Section_two .block_one h3 {
  margin-right: 10px;
}

.div_group .left_side_content .group_content {
  background-size: contain;
}

footer input#emails {
  width: 100%;
}

header .icons {
 width: 84px;
}

header .icons a{
 margin-right: unset;
}

header img {
  width: 49%;
}

footer .why_absolute {
  left:unset !important;
}

}

@media screen and (max-width: 489px){

p {
  font-size: 7px !important;
}

.Section_four .owl-carousel .owl-item img {
  width: 76%;
}

.Section_four .image {
    width: 47%;
}

.Section_four .main_text {
 width: 52%;
}

.Section_four h3 {
  font-size: 7px !important;
}

section.Section_four {
   padding: 10px 0 24px;
}

.Section_two .bottom_gap {
  margin-bottom: 10px;
}

.Section_four p {
  margin-bottom: 10px;
}
.div_group .group_block img {
  width: 6%;
  vertical-align: 7px;
}

.Section_two .box_group {
  background-position: center 40px;
}

.Section_four .btn a {
  padding: 4.407px 10px;
  font-size: 9px;
}

.Section_four .block {
  justify-content: space-around;
}

footer .inline img {
  width: 24%;
}

.Section_three .block_one {
  width: calc(53.3% - 22px);
  margin-right:unset;
}

}

@media screen and (max-width: 489px){

.Section_four p {
  margin-bottom: 5px;
}

.div_group .left_side_content .group_content {
  float:unset;
}

}

 /********************** Responsive css Is End **********************/